{% extends 'base.html.twig' %}

{% block title %}
    {{ parent()}} 
{% endblock %}
{% block body %}
    {{ dump(categories) }}
   <ul>
        {% for c in categories %}
            <li>
                {{ c.nom }}<br/>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
