{% extends 'base.html.twig' %}

{% block title %}
    {{ parent()}} 
{% endblock %}
{% block body %}
    {{ dump(event) }}
    <h1>Evénements présents :</h1>
   <ul>
        {% for e in event %}
            <li>{{ e.nom }}</li>
        {% endfor %}
    </ul>
{% endblock %}
