{% extends 'base.html.twig' %}

{% block title %}
    {{ parent()}} to my site
{% endblock %}
{% block body %}
    {% for u in users%}
        <li>{{ u.id }} - {{ u.name }}</li>
    {% endfor %}
    {# include ':templating/_partials:userrow' #}
{% endblock %}
